# Auto detect text files and perform LF normalization
* text=auto

*.4dm               text      linguist-language=4d
*.4DProject         text      linguist-language=4d    diff=json
*.4DCatalog         text      linguist-language=4d    diff=xml
*.4DSettings        text      linguist-language=4d    diff=xml
*.4DForm            text      linguist-language=4d    diff=json
